    <body>
       <p id="notice"></p><!--なんでこのpタグ欲しいん？-->
       <h1 class="heading" >Books</h1>
     <table>
       <thead><!--テーブルの中のヘッドでTとhead。テーブルの行をグループ化する-->
         <tr><!--tablerowの略でテーブルの横方向を指定する-->
         <th>Title</th><!--tableのheader。見出しとなるセル-->
         <th>Body</th>
         <th colspan="3"></th><!--３つのセルを結合。なんでやるん？-->
        </tr>
       </thead>
       <tbody>
       <!--多分このtrの間にeachをはさむ-->
        <tr>
         <td>タイトル名</td>
         <td>Bodyの部分</td>
         <td>show部分</td>
         <td>Edit部分</td>
         <td>Destroy部分</td>
        </tr>
       </tbody>
     </table>
     <h2>New book</h2>
     <p>ここにフォームの記載をする気がする</p>
    </body>
